
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ecom</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<!-- 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- <script type="text/javaThe JSON.stringify() method converts a JavaScript object or value to a JSON string, optionally replacing values if a replacer function is specified or optionally including only the specified properties if a replacer array is specified.script" src="{% static 'js/cart.js' %}"></script> -->
    <script type="text/javascript">
      var user = '{{ request.user }}'
      var value
      // var quantity

    function getCookie(name) {
      val = document.cookie.split('; ').find(row => row.startsWith(`${name}=`))
      // value = val.split('=')[1]
      // console.log(value)
      if (val){
      // console.log(document.cookie.split('; ').find(row => row.startsWith(`${name}=`)).split('=')[1])
        return document.cookie.split('; ').find(row => row.startsWith(`${name}`)).split('=')[1]
      }
      return null
      }

    const csrftoken = getCookie('csrftoken');

    var cart = JSON.parse(getCookie('cart'))

    if(cart == undefined){
      cart = {}
      console.log(cart)
      // document.cookie = "cart=" + cart;
      // Cart value cannot be a object it need to be a single value so JSON.stringify() give key-value pair
      document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
    }

    var quantity = getCookie('quantity')
    if(quantity == undefined){
      document.cookie = "quantity=" + 0 + "path=/";
    }

    console.log("cart:"+cart)


    

    </script>
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
      </li>
 
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <a href="#"class="btn btn-warning">Login</a>
        
        <a href="{% url 'cart' %}">
            <img  id="cart-icon" src="{% static 'images/cart.png' %}">
        </a>
        <p id="cart-total">0</p>

    </div>
  </div>
</nav>
 -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mens Fashion
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>

            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Google</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu</a></li>
                    <li><a class="dropdown-item" href="#">Submenu0</a></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                            <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                            <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                        </ul>
                    </li>
                </ul>
            </li> -->

          </ul>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Women Fashion
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Electronic
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>

          </ul>
        </li>



        </li>


         <!-- <a href="#" data-bs-target="#exampleModal"> login</a> -->

         


      </ul>

      {% if user.is_authenticated %}

      <!-- <button class="btn btn-link" > logout</button>  -->
      <a class="btn btn-link" href="{% url 'user_logout' %}" role="button">logout</a>

      {% else %}

      <button type="button" class="btn btn-link mx-1" style="background-color:transparent"
      data-bs-toggle="modal" data-bs-target="#exampleModal">
            Login/Register
          </button>

      {% endif %}

      <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> Login/Register </a> -->

        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login/Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                      <form action="{% url 'user_login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <i class="bi bi-person-fill" style="font-size:2rem;margin-right:2px"></i>
                          <input type="text" class="form-control" placeholder="Username" required="required" name="username">
                        </div>
                        <div class="form-group my-2">
                          <i class="bi bi-key" style="font-size:2rem;margin-right:2px"></i>
                          <input type="password" class="form-control" placeholder="Password" required="required" name="password">         
                        </div>
                      
                        <!-- <a href="#">Forgot Password?</a> -->
                        <div>
                        <input type="submit" class="btn btn-primary my-3 " value="Login">
                        <!-- <p>New User?<button type="button" class="btn btn-light" >Register</button></p> -->
                        </div>
                        </form>
                        <p>New Customer?<a href="#" data-bs-toggle="modal" data-bs-target="#example"> Register </a></p>      

              </div>

              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div>
          </div>
        </div>

         <div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                  <div class="modal-body">
                   
                      
                      <!-- {% for field in UserForm %}
                            {{ field.label_tag }}
                            {{ field }}
                      {% endfor %} -->
                  <form action="{% url 'register' %}" method="post">
                     {% csrf_token %}
                  <div class="form-group">
                  <i class="bi bi-person-fill" style="font-size:2rem;margin-right:2px"></i>
                      {{ UserForm.username }}
                  </div><div class="form-group">
                <i class="bi bi-envelope-open" style="font-size:2rem;margin-right:2px"></i>       
                {{ UserForm.email }}
                  </div><div class="form-group">
                        <i class="bi bi-key" style="font-size:2rem;margin-right:2px"></i>
                     {{ UserForm.password1 }}
                  </div><div class="form-group">
                        <i class="bi bi-key" style="font-size:2rem;margin-right:2px"></i>
                      {{ UserForm.password2 }}
                  </div>
                  <div class="my-3">
                      <input type="submit" class="btn btn-primary" value="Register">
                      </div>
                  </form>
                      
                      
                    <!-- <form action="/examples/actions/confirmation.php" method="post">
                      <div class="form-group">
                        <i class="bi bi-person-fill" style="font-size:2rem;margin-right:2px"></i>
                        <input type="text" class="form-control" placeholder="Username" required="required">
                      </div>
                      <div class="form-group my-2">
                        <i class="bi bi-envelope-open" style="font-size:2rem;margin-right:2px"></i>
                        <input type="email" class="form-control" placeholder="Email" required="required">         
                      </div><div class="form-group my-2">
                        <i class="bi bi-key" style="font-size:2rem;margin-right:2px"></i>
                        <input type="password" class="form-control" placeholder="Password" required="required">         
                      </div>
                      <div class="form-group my-2">
                        <i class="bi bi-key" style="font-size:2rem;margin-right:2px"></i>
                        <input type="password" class="form-control" placeholder="ReEnter Password" required="required">         
                      </div>
                      <div class="my-3">
                      <input type="submit" class="btn btn-primary" value="Register">

                      </div>
                    </form> -->
                  </div>
    
            </div>
          </div>
        </div>

      <div style="display:flex">
      <form class="d-flex" style="margin-right:6px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Remove Dot -->
      <li class="nav-item" style="align-content:center;list-style: none;margin-top:-10px;">
        
        <a href="{% url 'cart' %}">
        <!-- <img  id="cart-icon" src="{% static 'images/cart.png' %}"> -->
        <i class="bi bi-cart4" style="font-size:2rem;margin-right:2px"></i>
        <!-- <span id="my_cart" class="translate-middle badge border border-light rounded-circle bg-danger p-2">10</span> -->



        <span id="my_cart" class="translate-middle badge border border-light rounded-circle bg-danger p-2" >{{ item.quantity }}</span>
        </a>

        

        <!-- <p id="cart-total">0</p> -->
      </li>
      </div>
      
    </div>
  </div>
</nav>


</head>

<body>
  
    <div>
    {% block content %}

    {% endblock %}
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>

</html>