{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">
    <div class="col my-4">

    <img id="featured" src={{ product.imageURL }}>

    <div id="slide-wrapper">
        <img id ="slideLeft" class="arrow" src="{% static 'images/arrow-left.png' %}">

        <div id="slider">
        {% for image in product_images %}
        <img class="thumbnails" src={{ image.imageURL }}>  
        {% endfor %}
        </div>

        <img id="slideRight" class="arrow" src="{% static 'images/arrow-right.png' %}">

    </div>
</div>


    <div class="col my-4 mx-4">
    <h1>{{product}}</h1>
        <hr>
        <h3>${{product.price}}</h3>

        <p>{{product.description}}</p>

        <!-- <input value=1 type="number"> -->
        <!-- <a class="btn btn-dark" data-product={{ product.id }} data-action = "add" onclick="launch_toast()" data-bs-toggle="modal" data-bs-target="#exampleMod">Add to Cart</a>
 -->
 <button data-product={{product.id}} data-action = "add" onclick="launch_toast()"class="btn btn-outline-secondary add-btn update-cart" data-bs-toggle="modal" data-bs-target="#exampleMod">Add to Cart</button>
    
    </div>
    </div>

</div>


<script type="text/javascript">
        
    let thumbnails = document.getElementsByClassName('thumbnails')

    let activeImages = document.getElementsByClassName('active')

    for (var i = 0; i < thumbnails.length; i++) {
            thumbnails[i].addEventListener('mouseover', function () {
            // console.log(activeImages)

            if (activeImages.length > 0) {
                activeImages[0].classList.remove('active')
            }


            this.classList.add('active')
            document.getElementById('featured').src = this.src

            })
        }

    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');


    buttonRight.addEventListener('click', function(){
        document.getElementById('slider').scrollLeft += 180;
    })



    buttonLeft.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft -= 180;
    })



    </script>


{% endblock content %}